<form action="{{ path('blog_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" {{ form_enctype(form) }} >

    {{ form_widget(form) }}
    <br>
    <input type="submit" value="Submit" class="btn btn-primary pull-right">

</form>